{#

OVERRIDE THE DEFAULT TEMPLATE

#}
{% set depth = depth|default(0) %}
{% set view = view|default('tree') %}

{% if depth == 0 %}

{% if fos_comment_can_edit_thread(thread) %}
<div class="fos_comment_thread_commentable">
    <button data-url="{{ url('fos_comment_edit_thread_commentable', {'id': thread.id, 'value': not thread.commentable}) }}" class="fos_comment_thread_commentable_action">
        {{ (thread.commentable ? 'fos_comment_thread_close' : 'fos_comment_thread_open') | trans({}, 'FOSCommentBundle') }}
    </button>
</div>
{% endif %}
{% endif %}

{% for commentinfo in comments %}
{% include "FOSCommentBundle:Thread:comment.html.twig" with { "children": commentinfo.children, "comment": commentinfo.comment, "depth": depth, "view": view } %}
{% endfor %}
