{#

OVERRIDE THE DEFAULT TEMPLATE

#}
{% block fos_comment_comment %}
    <li class="{% if depth == 2 %}comment-third-level {% elseif depth < 2 and depth != 0 %}{% if children is defined %}{% if children|length > 0 %}comment-not-last-level {% endif %}{% endif %}{% endif %}list-item-{{ comment.id }}">
        <div id="fos_comment_{{ comment.id }}" class="comment-main-level fos_comment_{{ comment.id }}">
            <div class="comment-avatar">
                <img src="https://www.pacifica.edu/wp-content/themes/pacifica-graduate-institute/images/profile-placeholder.png" alt="avatar">
            </div>
            <div class="comment-box">
                <div class="comment-head">
                    <h6 class="comment-name">
                        {% block fos_comment_comment_metas %}
                        {% block fos_comment_comment_metas_authorline %}
                        {% trans from 'FOSCommentBundle' %}fos_comment_comment_show_by{% endtrans %}
                            <a href="#{{ comment.title }}">
                                {% if comment is fos_comment_in_state(constant('FOS\\CommentBundle\\Model\\CommentInterface::STATE_DELETED')) %}
                                    {% trans from 'FOSCommentBundle' %}fos_comment_comment_deleted{% endtrans %}
                                {% else %}
                                    {{ comment.title }}
                                {% endif %}
                            </a>
                        {% endblock fos_comment_comment_metas_authorline %}
                    </h6>
                    <span>{{ comment.createdAt|date }}</span>
                    {% if fos_comment_can_comment(comment) %}
                        {% if depth < 2 %}
                            <div class="fos_comment_comment_reply">
                                {% block fos_comment_comment_reply %}
                                    <button data-url="{{ url('fos_comment_new_thread_comments', {"id": comment.thread.id}) }}" data-name="{{ comment.title }}" data-parent-id="{{ comment.id }}" class="fos_comment_comment_reply_show_form btn" style="background: none; padding: 0; font-size: 14px; "><i class="fa fa-reply fos_comment_comment_reply"></i></button>
                                {% endblock fos_comment_comment_reply %}
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="comment-content">
                    {% block fos_comment_comment_body %}
                        {% if comment is fos_comment_in_state(constant('FOS\\CommentBundle\\Model\\CommentInterface::STATE_DELETED')) %}
                            {% trans from 'FOSCommentBundle' %}fos_comment_comment_deleted{% endtrans %}
                        {% else %}
                            {% if comment is fos_comment_raw %}
                                {{ comment.rawBody | raw }}
                            {% else %}
                                {{ comment.body | nl2br }}
                            {% endif %}
                        {% endif %}
                    {% endblock fos_comment_comment_body %}
                </div>
            </div>
        </div>
        {% endblock fos_comment_comment_metas %}
    </li>

    {% block fos_comment_comment_children %}
        {% if view is not same as('flat') %}
            {% if children is defined%}
                {% if children|length > 0 %}
                    {% if depth == 0 %}
                        <ul class="comments-list reply-list reply-list-{{ comment.id }}">
                            {% include "FOSCommentBundle:Thread:comments.html.twig" with { "comments": children, "depth": depth + 1, "parent": comment, "view": view } %}
                        </ul>
                    {% else %}
                        {% include "FOSCommentBundle:Thread:comments.html.twig" with { "comments": children, "depth": depth + 1, "parent": comment, "view": view } %}
                    {% endif %}
                {% endif %}
            {% elseif view is same as('flat') and children is defined %}
                {% include "FOSCommentBundle:Thread:comments.html.twig" with { "comments": children, "depth": depth + 1, "parent": comment, "view": view } %}
            {% endif %}
        {% endif %}
    {% endblock fos_comment_comment_children %}

{% endblock fos_comment_comment %}