{% extends '::base.html.twig' %}
{% set pageTitle = "Comment demo - back-end developer" %}
{% block title %}{{ pageTitle }} &lsaquo; {{ app.request.host|replace({'.dev': '', '.nl': '', '-': ' '})|title }}{% endblock %}
{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='cssrewrite' %}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}
{% block body_content %}
<div class="container">
	<div id="wrap">
		<h3>Demo nieuwsberichten</h3>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
		<table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered">
			<thead>
				<tr>
					<th>Nieuwsitem</th>
					<th>Datum</th>
					<th>Reactie's</th>
				</tr>
			</thead>
			<tbody>
            {% for thread in threads %}
				<tr>
					<td><a href="{{ path('thread', {'thread_id': thread.id}) }}">{{ thread.title }}</a></td>
					<td>{{ thread.createdAt|date('d/m/y - H:i:s') }}</td>
					<td>{{ thread.numComments }}</td>
				</tr>
            {% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
{% block extra %}
{% include "@App/includes/more-experiences.html.twig" %}
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% javascripts output='js/index.js'
 %}
<script type="text/javascript" src="{{ asset_url }}" ></script>
{% endjavascripts %}
{% endblock %}