{% extends '::base.html.twig' %}
{% set pageTitle = "Peter Knijff - Developer" %}
{% block title %}{{ pageTitle }} &lsaquo; {{ app.request.host|replace({'.dev': '', '.nl': '', '-': ' '})|title }}{% endblock %}
{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='cssrewrite'
    '@FOSCommentBundle/Resources/public/css/comments.css'
%}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}
{% block body_content %}
<div id="fos_comment_thread" data-thread="{{ thread.id }}">
    <div class="container">
        <div class="row">
            <div class="comments-container">
                <a href="{{ path('index') }}">< Terug naar overzicht</a>
                <hr>
                <h1>Nieuwsitem: {{ thread }}</h1>
                <hr>
                {% if fos_comment_can_comment_thread(thread) %}
                    {{ render(url('fos_comment_new_thread_comments', {"id": thread.id})) }}
                {% endif %}
                <hr>
                {% set count = thread.numComments %}
                <h2>Reacties</h2>
                <h3>{% transchoice count with {'%count%': count} from "FOSCommentBundle" %}fos_comment_thread_comment_count{% endtranschoice %}</h3>
                <ul id="comments-list" class="comments-list">
                {% include '@FOSComment/Thread/comments.html.twig' with {
                    'comments': comments,
                    'thread': thread,
                    'view': 'tree'
                    }
                %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% javascripts output='js/index.js'
    'js/comments.js'
%}
<script type="text/javascript" src="{{ asset_url }}" ></script>
{% endjavascripts %}
<script type="text/javascript">
</script>
{% endblock %}