<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="nl">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Comment demo - back-end developer">
<meta name="author" content="Peter Knijff">
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
<title>{% block title %}{% endblock %}</title>
{% block stylesheets %}
{% stylesheets filter='cssrewrite' output='css/style.css'
    'css/bootstrap.css'
    'bundles/bmatznerfontawesome/css/font-awesome.min.css'
    'css/index_css.css'
%}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100' rel='stylesheet' type='text/css'>
{% endblock %}
{% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
</head>
<body class="home-page">
<div class="wrapper">
    <!-- Body -->
    {% block body_content %}
    {% endblock %}
</div>
</body>
{% block javascripts %}
{% javascripts output='js/main.js'
    'js/jquery.js'
    'js/bootstrap.js'
%}
<script type="text/javascript" src="{{ asset_url }}" ></script>
{% endjavascripts %}
{% endblock %}
</html>